<ion-header>
</ion-header>





<ion-content>
  <div>
    <ion-img [src]='' alt="LOGO"></ion-img>
  </div>
  <div class='container'>
    <ion-toolbar>
      <ion-input type="email" placeholder="email@example.com" clearInput required></ion-input>
    </ion-toolbar>
    <ion-toolbar>
      <ion-input type="password" placeholder="password" clearInput required></ion-input>
    </ion-toolbar>
    <ion-toolbar>
      <ion-checkbox></ion-checkbox>
      <ion-label> Manter-me conectado </ion-label>
    </ion-toolbar>
    <ion-toolbar>
      <ion-button href='#'> Entrar </ion-button>
    </ion-toolbar>
    <ion-toolbar>
    <a href='cadastro'>Criar conta</a>
    </ion-toolbar>
  </div>
</ion-content>
